html,
body {
    margin: 0;
    padding: 0;
}

#network {
    width: 100vw;
    height: 100vh;
    border: none;
    z-index: 1;
}

#commands {
    position: fixed;
    top: 2em;
    left: 2em;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: auto;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--color-accent-0);
    border-color: var(--color-accent-0) transparent var(--color-accent-0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: opacity .1s linear;
}

#loader.hidden {
    opacity: 0;
}