th,
td {
    text-align: center;
}

.agent-cell {
    transition: background-color .2s ease;
}

.agent-cell-active {
    background-color: var(--color-accent-5) !important;
    color: white;
}

.navbar {
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.navbar .btn {
    margin-right: .4rem;
}

.schedule-cell {
    cursor: pointer;
}

.cell-disabled {
    background: lightgrey;
    border: 1px solid white;
}

.menu-item .btn {
    text-align: left;
}

.schedule-table-dayrow {
    border-top: .1rem solid var(--color-accent-5);
}

.modal.modal-xl .modal-overlay {
    background: var(--color-primary-1);
}

.modal.modal-xl .modal-container {
    box-shadow: none;
    max-width: 1280px;
    max-height: 85vh;
}

.post-closed {
    opacity: 0.5;
    background: repeating-linear-gradient( 45deg, transparent, transparent 23px, var(--color-accent-5) 23px, var(--color-accent-5) 27px), repeating-linear-gradient( -45deg, transparent, transparent 23px, var(--color-accent-5) 23px, var(--color-accent-5) 27px);
}

#table-params-objectives-reftimes th:nth-child(1),
#table-params-objectives-reftimes td:nth-child(1) {
    text-align: left;
}

#table-params-objectives-reftimes th:nth-child(2),
#table-params-objectives-reftimes td:nth-child(2) {
    width: 100%;
}

#table-params-objectives-reftimes th:nth-child(3),
#table-params-objectives-reftimes td:nth-child(3) {
    min-width: 250px;
}